html, body {
  height: 100%;
}




#panel_reservation_admin{
	
border:0!important;
border-radius:0!important;
	
	
	
}

#admin_main_table th {

height:100px;
font-size:15px;
color:white;
background-color:#455a64 ;
text-align: center;
vertical-align: middle;

}

#admin_main_table td {
	
height:100px;
font-size:15px;
background-color:white;
width:21%;

}


#admin_main_table .td_click {
	
cursor:pointer;

}

#admin_main_table tr td:first-child {
	
font-size:15px;
color:#455a64 ;
background-color:white;
width:5%;
}






#legend{
margin-top:10px;
}

.navmenu {

background-color:#607d8b!important;  
padding-top: 50px;
}

.navbar {
  
display: block;
text-align: center;
}
.navbar-brand {
	
display: inline-block;
float: none;

}
.navbar-toggle {
	
position: absolute;
float: left;
margin-left: 15px;

}



@media (min-width: 1px) {
  .navbar-toggle {
    display: block !important;
  }
}

@media (min-width: 992px) {
	
  body {
    padding: 0 0 0 300px;
  }
  
  
   
   #admin_main_reservation{
	margin-top:-65px!important;   
	margin-left:35px!important;   
	   
   }
  
  .navmenu {
    padding-top: 0;
	
	
  }
  .navbar {
	  
	  
    display: none !important; /* IE8 fix */
  }
}

@media (max-width: 991px) {
  body {
    padding: 0 0 0 0px;
  }
  .navmenu {
   padding-top: 50px;
   
  }
  .navbar {
	  
  display: block;
  text-align: center;
  
  
  
}




}
#show_hide_menu{

	overflow:hidden;
	margin:0;
	background-color:#607d8b    !important;  
	color:#607d8b    !important;  
	border-radius: 0px;
	border:0;
}

#show_hide_menu_a{

	color:white!important;  
}



@media (min-width: 992px) {
	
	
	
.hidden_menu{
	transition: 0.3s;
	margin-left: -300px;
	

}

.hidden_body{
	transition: 0.3s;
	padding-left: 0px;

}



}

#admin_main_table td:hover { 
	
	
	background-color:#e8f5e9;
	
	
}



#admin_main_table td{
	padding:5px!important;
  overflow: hidden;
  text-overflow: ellipsis;	
	
}


table .alert_reserv{
 height:100px;
 margin-bottom:0!important;
	
	
}


table .alert-info{

background-color:#008ad0!important;
color:white!important;
}

table .alert-warning{

background-color:#f0ad4e!important;
color:white!important;
}

table .alert-danger{

background-color:#d9534f!important;
color:white!important;
}

table .alert-success{

background-color:#009688 !important;
color:white!important;
}

#table_loader{
    display: table;
    margin: 0 auto; 
	margin-top:150px;
	
	
}



#table_working_hours th {

	
height:55px;

color:white;
background-color:#455a64 ;
text-align: center;
vertical-align: middle;

}

#table_working_hours td {
	
height:55px;

background-color:white;
width:13%;




text-align: center;
vertical-align: middle;
}


#table_working_hours tr td:first-child {
	
font-size:15px;
color:#455a64 ;
background-color:white;
width:5%;
}

.select_fa_hours{

    font-family: sans-serif, 'FontAwesome';

	
	
}

.tab-pane{

 margin-top:15px;

	
	
}
.legend_config{
	
 margin:10px;
	
}

.fa-circle{

color:#66bb6a;	
	
}

.fa-adjust{

color:#ffa726;	
	
}

.fa-times{

color:#ef5350;	
	
}


/* Fixy IE...*/


.select2{ 
width: 100% !important;
 }
